In [10]:
import pandas as pd
import re
import pysam
from Bio import SeqIO
from Bio.Seq import Seq
from Bio.SeqRecord import SeqRecord

In [24]:
def analyze_samfile(sam_file, unaligned_file):
    rc = {}
    samfile = pysam.AlignmentFile(sam_file, 'r')
    with open(unaligned_file, 'w') as f:
        for rec in samfile.fetch():
            if rec.reference_name:
                if rec.reference_name not in rc:
                    rc[rec.reference_name] = 1
                else:
                    rc[rec.reference_name] += 1
            else:
                if rec.seq:
                    record = SeqRecord(
                        Seq(rec.seq),
                        id=rec.qname,
                        description='',
                    )
                    SeqIO.write(record, f, 'fasta')
    return rc

samfile='/home/yuan/bio/results/P00002/T03_align_short_reads/LW_AB_1.sam'
rc = analyze_samfile(samfile, "unaligned.fasta")

In [33]:
df = pd.DataFrame.from_dict(rc, orient='index', columns=['a']).fillna(0).astype('i8')
df
# outfile = output_prefix + ".RC.txt"
# df.to_csv(outfile, sep='\t')

                      a
hsa-miR-99a-5p     2276
hsa-miR-219a-2-3p    29
hsa-miR-9-3p        715
hsa-miR-22-3p      1609
hsa-miR-124-3p     2866
...                 ...
hsa-miR-496           1
hsa-miR-7-2-3p        1
hsa-miR-6720-5p       1
hsa-miR-3150b-3p      1
hsa-miR-143-5p        1

[457 rows x 1 columns]